<p>As a writer and an engineer, I like to explore how technology impacts society. You can subscribe <a href="https://listes.ploum.net/mailman3/postorius/lists/en.listes.ploum.net/">by email</a> or <a href="/atom_en.xml">by rss</a>. I value privacy and never share your adress.</p>
<p>If you read French, you can support me by buying/sharing/reading <a href="/livres.html">my books</a> and subscribing to my <a href="https://listes.ploum.net/mailman3/postorius/lists/fr.listes.ploum.net/">newsletter in French</a> or <a href="/atom_fr.xml">RSS</a>. I also develop <a href="/software.html">Free Software</a>.</p>

