<p>Ingénieur et écrivain, j’explore l’impact des technologies sur l’humain, tant par écrit que dans mes conférences.</p>
<p>Recevez directement par mail <a href="https://listes.ploum.net/mailman3/postorius/lists/fr.listes.ploum.net/">mes écrits en français</a> et <a href="https://listes.ploum.net/mailman3/postorius/lists/en.listes.ploum.net/">en anglais</a>. Votre adresse ne sera jamais partagée. Vous pouvez également utiliser <a href="/atom_fr.xml">mon flux RSS francophone</a> ou <a href="/atom.xml">le flux RSS complet</a>.</p>

<p>Pour me soutenir, <a href="/livres.html">achetez mes livres</a> (si possible chez votre libraire) ! Je viens justement de publier un <a href="/et-autres-joyeusetes-que-nous-reserve-le-futur/index.html">recueil de nouvelles</a> qui devrait vous faire rire et réfléchir. Je fais également partie du <a href="/2023-12-12-sf-en-vf.html">coffret libre et éthique « SF en VF »</a>.</p>
